## merge、join、concat

* 参考
    * [pandasの使い方（merge、join、concat編）](http://pppurple.hatenablog.com/entry/2016/06/27/022310#concat関数)

In [3]:
from pandas import DataFrame
#from pandas import Series, DataFrame
import pandas as pd

In [5]:
df1 = DataFrame({'key': ['a', 'b', 'a', 'b', 'c', 'a'], 'data1': range(6)})
df1

   data1 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   c
5      5   a

In [6]:
df2 = DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})
df2

   data2 key
0      0   a
1      1   b
2      2   d

## デフォルトでマージ

* 共通の同じ列名でマージされる
    * この場合はkey列
    * 何も指定しなければinner joinになる
    * onでマージする列名を指定できる

In [8]:
df_merge1 = pd.merge(df1, df2)
df_merge1

   data1 key  data2
0      0   a      0
1      2   a      0
2      5   a      0
3      1   b      1
4      3   b      1

In [9]:
### さっきと同じ
df_merge1 = pd.merge(df1, df2, how='inner')
df_merge1

   data1 key  data2
0      0   a      0
1      2   a      0
2      5   a      0
3      1   b      1
4      3   b      1

In [10]:
### これもさっきと同じ
df_merge1 = pd.merge(df1, df2, on='key')
df_merge1

   data1 key  data2
0      0   a      0
1      2   a      0
2      5   a      0
3      1   b      1
4      3   b      1