## PostGIS

* PosgreSQLには地理情報に関する機能を集めたPostGIS呼ばれる拡張がある

* 参考
    * [PostGIS（地理情報システムを実現するための拡張モジュール](https://www.sraoss.co.jp/technology/postgresql/3rdparty/PostGIS.php)
    * [PostGISのよく使う機能をまとめた](http://d.hatena.ne.jp/EulerDijkstra/20131008/1381190780)
    * [PostGIS日本語マニュアル](https://www.finds.jp/docs/pgisman/1.5.1/ch01.html)
    
### Geometry データ型

* データ型
    * POINT
        * 点（位置、ランドマーク）を表す
    * LINESTRING
        * 線（道路や川）を表す
    * POLYGON
        * 面、多角形（領域、町丁目）を表す
    * これらの複数の要素をあらわす MULTIPOINT、MULTISTRING、MULTIPOLYGON
        * ただし、PostgreSQL のデータ型としては共通の geometry 型を使う
        * ある geometry 型カラムにおける内部的なデータ型は、型の属性として保持される
* 形式
    * WKT/WKB形式
    * EWKT/EWKB形式
        * 3次元対応やSRID（空間参照系の識別子）付記ができるように拡張されている
        * SRIDの例
            * 「4326」であればGPSで使用されるWGS84測地系に基づく緯度・経度であるという意味
            * SRIDがばらついていると位置情報がずれるので必ず統一する
        * 例1
            * 0101000020E610000000000000006061400000000000004240
                * バイナリ形式（ EWKB 形式）の 16 進数表現
            * POINT(139 36)
                * テキスト形式（EWKT形式）
        * 例2 (dev1のgeomのデータ) SRID付きポイントのEWKB
            * 010100002004120000F59ECA69CFD06040D55B035B250A4140
            * 先頭からバイト列を読み解く
                * 01 : エンディアン（01はリトルエンディアン）
                * 01000020 : ジオメトリタイプ
                    * 32ビット整数0x20000000を表す
                        * 0x20000001がSRIDが付いていることを示すフラグ
                * 04120000 : 整数
                    * SRIDを示す32ビット整数
                    * 32ビット整数0x00001204を表す
                    * 10進数にすると4612
                        * SRID=4612
                * F59ECA69CFD06040 : X値
                * D55B035B250A4140 : Y値
* 操作関数
    * ジオメトリー操作用の関数(ST_XXXXXX)
        * 地理的な検索や集計を行ったり、地図として表示させるポリゴンを取得
* 参考
    * [WKB/EWKBを見てみる](http://qiita.com/yellow_73/items/9d69ad9512c45481952f)

### Geography型

* 日本国内の地図を触っているだけなら必要なさそう？
* 厳密な距離を算出したいような場合必要かもしれない
    * Geography型は対応している関数が少ないのでGeometryで持っている方が無難
    * 必要な時だけGeometry型で持っているデータをGeographyに変換して操作するのがベター
    
### GeoJSON

* JSONを用いて空間データをエンコードし非空間属性を関連付けるファイル形式
* 属性にはポイント（住所や座標）、ライン（各種道路や境界線）、 ポリゴン（国や地域）などが含まれる
* 多くのGIS関連ソフトウェアが対応している
* Bing MapsやYahoo!、GoogleはAPIが対応している
* Googleマップにはライブラリを使用するかオブジェクトをインスタンス化することによって利用できる
    * https://github.com/JasonSanford/geojson-google-maps
* GitHubはGeoJSONのレンダリングに対応している

## 変換

* EWKB -> EWKT -> GeoJSON
    * GoogleMapとかで使いやすくなる？
* ライブラリ
    * Shapely
        * 地理空間データ上で様々な計算を行なうためのPython用library
        * pipで入れる
    * fiona
        * Shapeファイルの読み込みで使う

* 参考
    * [WKT形式をGeoJSON形式に変換する](http://qiita.com/yuichy/items/14f2cb7d4ed113eca727)
    * [python + shapelyを使って東京都内だけに点を生成する](http://qiita.com/motokazu/items/e2668396b0723eafac5d)
    * [国土数値情報　ダウンロードサービス](http://nlftp.mlit.go.jp/ksj/index.html)
        * Shapeファイルをダウンロードする
    * [シェープファイル](https://ja.wikipedia.org/wiki/%E3%82%B7%E3%82%A7%E3%83%BC%E3%83%97%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB)
        * 他の地理情報システム(GIS)間でのデータの相互運用におけるオープン標準として用いられるファイル形式
    * [Conversion of a GeoJSON into EWKB format?](https://gis.stackexchange.com/questions/225196/conversion-of-a-geojson-into-ewkb-format)
        * PythonでWKT,EWKBを扱う

## QGIS

* 地理情報システムの閲覧、編集、分析機能を有するクロスプラットフォームのオープンソースソフトウェア・GISソフト
* 参考
    * [QGIS(Wikipedia)](https://ja.wikipedia.org/wiki/QGIS)

In [2]:
# データの扱いに必要なライブラリ
import pandas as pd

# ジオメトリを扱うためのライブラリ
from shapely import geos, wkb, wkt

# 初期設定はリトルエンディアン
geos.WKBWriter.defaults['big_endian'] = False

## WKTをEWKBに変換

In [3]:
# WKTをEWKBに変換。リトルエンディアンのEWKBで単純にポイントをセット
p = wkt.loads('POINT Z(1 2)')
print(p.wkb_hex) 

# SRIDを設定できるようにする
geos.WKBWriter.defaults['include_srid'] = True

# デフォルトのSRIDの確認
print(geos.lgeos.GEOSGetSRID(p._geom))

# SRIDに4612をセット
geos.lgeos.GEOSSetSRID(p._geom, 4612)
print(geos.lgeos.GEOSGetSRID(p._geom))

# WEKBにSIDがセットされる
print(p.wkb_hex)

# ビッグエンディアンに変更することも可能
geos.WKBWriter.defaults['big_endian'] = True
print(p.wkb_hex)

# リトルエンディアンに戻す
geos.WKBWriter.defaults['big_endian'] = False
p

0101000000000000000000F03F0000000000000040
0
4612
010100002004120000000000000000F03F0000000000000040
0020000001000012043FF00000000000004000000000000000

## WEKBからWKTに変換

In [4]:
geom = '010100002004120000F59ECA69CFD06040D55B035B250A4140'
shp = wkb.loads(geom, hex=True)
print(shp)

POINT (134.525319 34.079265)

## サンプルデータをcsvから読み込む

In [15]:
df = pd.read_csv("csv/geosample.csv")
df

,id,geom,gps_time
0,658,010100002004120000F59ECA69CFD06040D55B035B250A...,2015-06-12 22:20:00
1,686,01010000200412000033535A7F4BD26040D97BF1457B08...,2015-06-12 22:48:00
2,673,01010000200412000088653387A4D16040FAB9A1293B09...,2015-06-12 22:35:00
3,679,010100002004120000EBAC16D8E3D1604050FC1873D708...,2015-06-12 22:41:00
4,649,010100002004120000F0DB10E335D06040A31F0DA7CC09...,2015-06-12 22:11:00
5,664,010100002004120000029D499B2AD160405039268BFB09...,2015-06-12 22:26:00
6,663,010100002004120000168733BF1AD16040BB0CFFE9060A...,2015-06-12 22:25:00
7,666,010100002004120000207D93A641D16040C18F6AD8EF09...,2015-06-12 22:28:00
8,650,010100002004120000DF5163424CD06040E69315C3D509...,2015-06-12 22:12:00
9,660,010100002004120000E3C62DE6E7D06040C39FE1CD1A0A...,2015-06-12 22:22:00
10,672,0101000020041200004968CBB994D160406CCF2C095009...,2015-06-12 22:34:00
11,665,01010000200412000058CA32C431D16040A52F849CF709...,2015-06-12 22:27:00
12,661,010100002004120000C8444AB3F9D060402FBE688F170A...,2015-06-12 22:23:00
13,671,010100002004120000E560360186D16040876F61DD7809...,2015-06-12 22:33:00
14,676,010100002004120000374F75C8CDD16040B5C01E132909...,2015-06-12 22:38:00
15,681,01010000200412000031D28BDAFDD1604039B709F7CA08...,2015-06-12 22:43:00
16,682,010100002004120000B24B546F0DD26040BABF7ADCB708...,2015-06-12 22:44:00
17,662,010100002004120000556CCCEB08D16040637AC2120F0A...,2015-06-12 22:24:00
18,677,01010000200412000048163081DBD16040D6A9F23D2309...,2015-06-12 22:39:00
19,683,0101000020041200000475CAA31BD26040FB743C66A008...,2015-06-12 22:45:00
20,659,010100002004120000431A1538D9D06040B151D66F260A...,2015-06-12 22:21:00
21,655,0101000020041200008A5759DB94D06040042159C0040A...,2015-06-12 22:17:00
22,680,01010000200412000034F8FBC5ECD160400BEC3191D208...,2015-06-12 22:42:00
23,654,010100002004120000F2423A3C84D06040156F641EF909...,2015-06-12 22:16:00
24,656,01010000200412000080F277EFA8D06040EA793716140A...,2015-06-12 22:18:00
25,687,01010000200412000072DD94F25AD260408D2958E36C08...,2015-06-12 22:49:00
26,651,01010000200412000060E5D0225BD060402FF99FFCDD09...,2015-06-12 22:13:00
27,657,01010000200412000028637C98BDD0604078EFA831210A...,2015-06-12 22:19:00
28,688,01010000200412000029081EDF5ED260403AC956975308...,2015-06-12 22:50:00
29,685,0101000020041200000264E8D841D2604046EBA86A8208...,2015-06-12 22:47:00
30,669,0101000020041200005036E50A6FD16040E23E726BD209...,2015-06-12 22:31:00
31,674,010100002004120000A260C614ACD160404CC3F0113109...,2015-06-12 22:36:00
32,678,0101000020041200004B1DE4F5E0D16040DD43C2F7FE08...,2015-06-12 22:40:00
33,667,010100002004120000E6ADBA0E55D1604032E6AE25E409...,2015-06-12 22:29:00

In [48]:
df = pd.read_csv("csv/geosample.csv")
df['id + 5'] = df['id'] + 5
df.head(5)

,id,geom,gps_time,id + 5
0,658,010100002004120000F59ECA69CFD06040D55B035B250A...,2015-06-12 22:20:00,663
1,686,01010000200412000033535A7F4BD26040D97BF1457B08...,2015-06-12 22:48:00,691
2,673,01010000200412000088653387A4D16040FAB9A1293B09...,2015-06-12 22:35:00,678
3,679,010100002004120000EBAC16D8E3D1604050FC1873D708...,2015-06-12 22:41:00,684
4,649,010100002004120000F0DB10E335D06040A31F0DA7CC09...,2015-06-12 22:11:00,654

## WKTに変換した情報の列を追加

In [50]:
df = pd.read_csv("csv/geosample.csv")

# i = 0
# while i < len(df.columns):
#     df['wkt'][i] = str(wkb.loads(df['geom'][i], hex=True))
#     i += 1
# df

#df['wkt'] = str(wkb.loads(df['geom'][0], hex=True))

#df['wkt'] = df['geom']
#df['wkt'] = wkb.loads(df['geom'], hex=True)
#df

#str(wkb.loads(df['geom'], hex=True))
#df['geom']

for i in df['geom']:
    print(str(wkb.loads(i, hex=True)))
df

POINT (134.525319 34.079265)
POINT (134.571716 34.066262)
POINT (134.551334 34.072118)
POINT (134.559063 34.069075)
POINT (134.506578 34.076558)
POINT (134.536451 34.077989)
POINT (134.534515 34.078336)
POINT (134.539264 34.077632)
POINT (134.509309 34.076836)
POINT (134.528308 34.078943)
POINT (134.549405 34.072755)
POINT (134.537325 34.077869)
POINT (134.530481 34.078844)
POINT (134.547608 34.074001)
POINT (134.55637 34.071566)
POINT (134.562238 34.068694)
POINT (134.56414 34.068111)
POINT (134.532339 34.078585)
POINT (134.558045 34.071388)
POINT (134.565874 34.067395)
POINT (134.526516 34.079298)
POINT (134.518171 34.07827)
POINT (134.560153 34.068926)
POINT (134.516142 34.077915)
POINT (134.520622 34.078738)
POINT (134.573602 34.065823)
POINT (134.511125 34.077087)
POINT (134.523144 34.079138)
POINT (134.574081 34.065051)
POINT (134.570538 34.06648)
POINT (134.544805 34.076734)
POINT (134.552256 34.07181)
POINT (134.558711 34.070281)
POINT (134.541633 34.077275)

,id,geom,gps_time
0,658,010100002004120000F59ECA69CFD06040D55B035B250A...,2015-06-12 22:20:00
1,686,01010000200412000033535A7F4BD26040D97BF1457B08...,2015-06-12 22:48:00
2,673,01010000200412000088653387A4D16040FAB9A1293B09...,2015-06-12 22:35:00
3,679,010100002004120000EBAC16D8E3D1604050FC1873D708...,2015-06-12 22:41:00
4,649,010100002004120000F0DB10E335D06040A31F0DA7CC09...,2015-06-12 22:11:00
5,664,010100002004120000029D499B2AD160405039268BFB09...,2015-06-12 22:26:00
6,663,010100002004120000168733BF1AD16040BB0CFFE9060A...,2015-06-12 22:25:00
7,666,010100002004120000207D93A641D16040C18F6AD8EF09...,2015-06-12 22:28:00
8,650,010100002004120000DF5163424CD06040E69315C3D509...,2015-06-12 22:12:00
9,660,010100002004120000E3C62DE6E7D06040C39FE1CD1A0A...,2015-06-12 22:22:00
10,672,0101000020041200004968CBB994D160406CCF2C095009...,2015-06-12 22:34:00
11,665,01010000200412000058CA32C431D16040A52F849CF709...,2015-06-12 22:27:00
12,661,010100002004120000C8444AB3F9D060402FBE688F170A...,2015-06-12 22:23:00
13,671,010100002004120000E560360186D16040876F61DD7809...,2015-06-12 22:33:00
14,676,010100002004120000374F75C8CDD16040B5C01E132909...,2015-06-12 22:38:00
15,681,01010000200412000031D28BDAFDD1604039B709F7CA08...,2015-06-12 22:43:00
16,682,010100002004120000B24B546F0DD26040BABF7ADCB708...,2015-06-12 22:44:00
17,662,010100002004120000556CCCEB08D16040637AC2120F0A...,2015-06-12 22:24:00
18,677,01010000200412000048163081DBD16040D6A9F23D2309...,2015-06-12 22:39:00
19,683,0101000020041200000475CAA31BD26040FB743C66A008...,2015-06-12 22:45:00
20,659,010100002004120000431A1538D9D06040B151D66F260A...,2015-06-12 22:21:00
21,655,0101000020041200008A5759DB94D06040042159C0040A...,2015-06-12 22:17:00
22,680,01010000200412000034F8FBC5ECD160400BEC3191D208...,2015-06-12 22:42:00
23,654,010100002004120000F2423A3C84D06040156F641EF909...,2015-06-12 22:16:00
24,656,01010000200412000080F277EFA8D06040EA793716140A...,2015-06-12 22:18:00
25,687,01010000200412000072DD94F25AD260408D2958E36C08...,2015-06-12 22:49:00
26,651,01010000200412000060E5D0225BD060402FF99FFCDD09...,2015-06-12 22:13:00
27,657,01010000200412000028637C98BDD0604078EFA831210A...,2015-06-12 22:19:00
28,688,01010000200412000029081EDF5ED260403AC956975308...,2015-06-12 22:50:00
29,685,0101000020041200000264E8D841D2604046EBA86A8208...,2015-06-12 22:47:00
30,669,0101000020041200005036E50A6FD16040E23E726BD209...,2015-06-12 22:31:00
31,674,010100002004120000A260C614ACD160404CC3F0113109...,2015-06-12 22:36:00
32,678,0101000020041200004B1DE4F5E0D16040DD43C2F7FE08...,2015-06-12 22:40:00
33,667,010100002004120000E6ADBA0E55D1604032E6AE25E409...,2015-06-12 22:29:00

In [19]:
wkb.loads('010100002004120000F59ECA69CFD06040D55B035B250A4140', hex=True)
str(wkb.loads(df['geom'][0], hex=True))

'POINT (134.525319 34.079265)'