# Pythonについて

## 変数の代入はオブジェクトにラベルを貼るようなイメージ

In [10]:
### 数値の「1」が入ったオブジェクトが作られると同時に、そのオブジェクトにaというラベルがつく
a = 1
print(id(a))

### 数値の「1」が入ったオブジェクトにbというラベルも貼られる
b = a

### aとbは同じオブジェクト
print(id(b))

### 数値の「3」が入ったオブジェクトにaというラベルを張り替える
a = 3
print(id(a))

### bというラベルは「1」のオブジェクトに貼られたまま
print(id(b))

4405760432
4405760432
4405760496
4405760432

## 型の確認

* typeを使って調べる

In [30]:
print(type('Hello'))
print(type(-123))
print(type(12.3))
print(type([1,2,3]))
print(type((1,2,3)))
print(type({"a":  1, "b": 2}))
print(type(set('abc')))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

* `<class 'XXX'>`
    * Python3においてクラスと型は全く同じ意味を持つ
* list型
    * Pythonの配列
    * シーケンス型
        * `[]`を使ってindexで要素にアクセスできる
* tuple型
    * 複数の要素から構成されそれを一つのモノとして扱える機能
    * シーケンス型
    * list型との違い
        * tupleは作成した後に要素の追加や削除が出来ない
* dict型
    * Pythonのハッシュ
        * キーと値のペアのリスト
    * シーケンス型ではない
* set型
    * 複数のデータを持つデータ型の一つで、集合を表現することができる
    * シーケンス型ではない
    * set型の特徴
        * 重複のないデータ型
            * 同じ値は一つのみ登録可能
        * in演算子が高速
        * 集合に関する関数が豊富

※ 型のメソッド等はtype.ipynbを参照

## lambda式

* lamda式
    * 無名関数を表現する記法の一つ
    * map関数でよく使われる

In [43]:
### 普通の関数で足し算
def plus(x, y):
    return x + y
print(plus(1,2))

### lambda式で足し算
print((lambda x, y: x + y)(1,2))

### map関数での利用例
a = [1,2,3]
print(list(map(lambda x: x * 2, a)))

3
3
[2, 4, 6]

In [47]:
%%bash

### Ruby
ruby -e "
a = [1,2,3]
print a.map {|x| x*2}
"

[2, 4, 6]

## リスト中に含まれる文字列を変換する

* GeoJSONにするために、wktからPointと()を削除して二つの数値をタプルに入れたい

In [1]:
geolist = 'POINT (134.525319 34.079265)'
geolist

'POINT (134.525319 34.079265)'

### replaceでPointと()を削除する

In [2]:
geolist.replace('POINT (','').replace(')','')

'134.525319 34.079265'

### リストに入れる

In [3]:
geolist.replace('POINT (','').replace(')','').split(" ")

['134.525319', '34.079265']

### リストの要素を数値に変換する

In [5]:
list(map(float, geolist.replace('POINT (','').replace(')','').split(" ")))

[134.525319, 34.079265]

### リストをタプルに変換する

In [7]:
data = tuple(list(map(float, geolist.replace('POINT (','').replace(')','').split(" "))))
data

(134.525319, 34.079265)

In [8]:
from geojson import Point
Point(data)

{"coordinates": [134.525319, 34.079265], "type": "Point"}

## リストに要素を追加する

In [15]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [18]:
tuple(list(map(float, geolist.replace('POINT (','').replace(')','').split(" "))))

AttributeError: 'list' object has no attribute 'replace'