## psycopg2のインストール

PostgreSQLと連携する

In [2]:
%%bash
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.7.1-cp36-cp36m-manylinux1_x86_64.whl (2.7MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.1

In [3]:
### テスト
import psycopg2 as pg
with pg.connect(database='jsd_development',
                user='jsd',
                password='pass',
                host='10.136.3.189',
                port=5432) as conn, conn.cursor() as cur:
  cur.execute( 'SELECT * FROM people' )
  print( cur.fetchall() )

[(1, 'Taro', 21, 'Tokyo'), (2, 'Taro', 21, 'Tokyo'), (3, 'Jiro', 20, 'Osaka'), (4, 'Saburo', 19, 'Nagoya')]

In [5]:
### pandasテスト
### http://www.mwsoft.jp/programming/numpy/rdb_to_pandas.html
import pandas.io.sql as psql
import psycopg2 as pg
with pg.connect(database='jsd_development',
                user='jsd',
                password='pass',
                host='10.136.3.189',
                port=5432) as conn:
  sql = 'SELECT * FROM people'
  df = psql.read_sql(sql, conn)
df

   id    name  age address
0   1    Taro   21   Tokyo
1   2    Taro   21   Tokyo
2   3    Jiro   20   Osaka
3   4  Saburo   19  Nagoya

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
id         4 non-null int64
name       4 non-null object
age        4 non-null int64
address    4 non-null object
dtypes: int64(2), object(2)
memory usage: 208.0+ bytes

In [7]:
df.dtypes

id          int64
name       object
age         int64
address    object
dtype: object

## mysqlclient(MySQLdb)のインストール

MySQLと連携する

In [8]:
%%bash
### MySQLのインストール(CentOS7)
sudo yum install -y http://dev.mysql.com/get/mysql-community-release-el7-5.noarch.rpm
sudo yum install -y mysql-community-devel.x86_64

読み込んだプラグイン:fastestmirror
/var/tmp/yum-root-WryJ7H/mysql-community-release-el7-5.noarch.rpm を調べています: mysql-community-release-el7-5.noarch
/var/tmp/yum-root-WryJ7H/mysql-community-release-el7-5.noarch.rpm: インストールされたパッケージを更新しません。
読み込んだプラグイン:fastestmirror
Loading mirror speeds from cached hostfile
 * base: ftp.riken.jp
 * epel: ftp.riken.jp
 * extras: ftp.riken.jp
 * updates: ftp.riken.jp
パッケージ mysql-community-devel-5.6.37-2.el7.x86_64 はインストール済みか最新バージョンです
何もしません

エラー: 何もしません

In [19]:
%%bash
# jpyter上から実行するとエラーになるがコンソールから実行するといける
#sudo pip install mysqlclient

In [34]:
import MySQLdb
import pandas.io.sql as mysql

### DB接続
con = MySQLdb.connect(database='jorurimail', host='10.136.3.168', user='joruri', passwd='pass', charset='utf8')
sql = "show tables"

### pandasのDataFrameの形でデータを取り出す
df = mysql.read_sql(sql, con) 
print (df.head(5))
con.close()

   Tables_in_jorurimail
0  ar_internal_metadata
1          delayed_jobs
2     schema_migrations
3              sessions
4             sys_files

## sqlalchemyのインストール

* PythonのO/Rマッパー
    * readはMySQLdbだけでもできるが書き込みも行う場合は必要

In [21]:
%%bash
sudo pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.1.11.tar.gz (5.2MB)
Building wheels for collected packages: sqlalchemy
  Running setup.py bdist_wheel for sqlalchemy: started
  Running setup.py bdist_wheel for sqlalchemy: finished with status 'done'
  Stored in directory: /root/.cache/pip/wheels/ee/a7/64/0f699856164b752e1d398f9b7abc6c831074906fd10088932d
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.1.11

In [35]:
import sqlalchemy as sa

url = 'mysql://jupyter:pass@10.136.3.168/test_db?charset=utf8'
engine = sa.create_engine(url, echo=True)

engine.execute('DROP TABLE zoo')
engine.execute('CREATE TABLE zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)')
#engine.execute('CREATE TABLE IF NOT EXISTS zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)')

# SQL文に「?」が使用できないので、代わりに「%s」を使用
ins = "INSERT INTO zoo (critter, count, damages) VALUES (%s, %s, %s)"
engine.execute(ins, "あひる", 10, 0.0)
engine.execute(ins, "くま", 2, 1000.0)
engine.execute(ins, "いたち", 1, 2000.0)

rows = engine.execute('SELECT * FROM zoo')

for row in rows:
    print(row)

2017-07-21 12:08:28,305 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2017-07-21 12:08:28,307 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,310 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2017-07-21 12:08:28,313 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,316 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2017-07-21 12:08:28,318 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,321 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2017-07-21 12:08:28,324 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,326 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2017-07-21 12:08:28,329 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,332 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2017-07-21 12:08:28,333 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,337 INFO sqlalchemy.engine.base.Engine DROP TABLE zoo
2017-07-21 12:08:28,338 INFO sqlalchemy.engine.base.Engine ()
2017-07-21 12:08:28,342 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (_mysql_exceptions.OperationalError) (1051, "Unknown table 'test_db.zoo'") [SQL: 'DROP TABLE zoo']

## PyYAMLのインストール

YAMLを読み込む

In [8]:
%%bash
pip install PyYAML

Collecting PyYAML
  Downloading PyYAML-3.12.tar.gz (253kB)
Installing collected packages: PyYAML
  Running setup.py install for PyYAML: started
    Running setup.py install for PyYAML: finished with status 'done'
Successfully installed PyYAML-3.12

In [24]:
### ymlの中身確認
import os

f = open("yml/database.yml", "r")
for line in f:
    print(line, end="")
print("\n")

development:
  database: ftakao2007_development
  username: ftakao2007
  password: pass
  port: 5432
  host: 192.168.33.11

production:
  database: ftakao2007_production
  username: ftakao2007
  password: pass
  port: 5432
  host: 172.16.0.1

In [25]:
### ymlの読み込み
### http://qiita.com/ouiouiouioui/items/1d19aee73ff6e5135b73
import yaml
f = open("yml/database.yml", "r")
data = yaml.load(f)
print(data)
print(data['development'])
print(data['development']['database'])
print(data['development']['host'])
data

{'development': {'database': 'ftakao2007_development', 'username': 'ftakao2007', 'password': 'pass', 'port': 5432, 'host': '192.168.33.11'}, 'production': {'database': 'ftakao2007_production', 'username': 'ftakao2007', 'password': 'pass', 'port': 5432, 'host': '172.16.0.1'}}
{'database': 'ftakao2007_development', 'username': 'ftakao2007', 'password': 'pass', 'port': 5432, 'host': '192.168.33.11'}
ftakao2007_development
192.168.33.11

{'development': {'database': 'ftakao2007_development',
  'host': '192.168.33.11',
  'password': 'pass',
  'port': 5432,
  'username': 'ftakao2007'},
 'production': {'database': 'ftakao2007_production',
  'host': '172.16.0.1',
  'password': 'pass',
  'port': 5432,
  'username': 'ftakao2007'}}

In [26]:
### pandas連携テスト
import pandas as pd
pd.DataFrame.from_dict(data)

                     development             production
database  ftakao2007_development  ftakao2007_production
host               192.168.33.11             172.16.0.1
password                    pass                   pass
port                        5432                   5432
username              ftakao2007             ftakao2007

## Shapelyのインストール

* 地理空間データ上で様々な計算を行なう

In [29]:
%%bash
apt-get install -y libgeos-dev
pip install shapely

Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  libgeos-3.5.0 libgeos-c1v5
Suggested packages:
  libgdal-doc
The following NEW packages will be installed:
  libgeos-3.5.0 libgeos-c1v5 libgeos-dev
0 upgraded, 3 newly installed, 0 to remove and 50 not upgraded.
Need to get 596 kB of archives.
After this operation, 2724 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu xenial/universe amd64 libgeos-3.5.0 amd64 3.5.0-1ubuntu2 [477 kB]
Get:2 http://archive.ubuntu.com/ubuntu xenial/universe amd64 libgeos-c1v5 amd64 3.5.0-1ubuntu2 [52.4 kB]
Get:3 http://archive.ubuntu.com/ubuntu xenial/universe amd64 libgeos-dev amd64 3.5.0-1ubuntu2 [66.5 kB]
Fetched 596 kB in 2s (260 kB/s)
Selecting previously unselected package libgeos-3.5.0.
(Reading database ... 46084 files and directories currently installed.)
Preparing to unpack .../libgeos-3.5.0_3.5.0-1ubuntu2_amd64.deb ...
Unpacking libgeos-3.5.0 (3.5.0-1ubuntu2) ...
Selecting previously unselected package libgeos-c1v5.
Preparing to unpack .../libgeos-c1v5_3.5.0-1ubuntu2_amd64.deb ...
Unpacking libgeos-c1v5 (3.5.0-1ubuntu2) ...
Selecting previously unselected package libgeos-dev.
Preparing to unpack .../libgeos-dev_3.5.0-1ubuntu2_amd64.deb ...
Unpacking libgeos-dev (3.5.0-1ubuntu2) ...
Processing triggers for libc-bin (2.23-0ubuntu7) ...
Setting up libgeos-3.5.0 (3.5.0-1ubuntu2) ...
Setting up libgeos-c1v5 (3.5.0-1ubuntu2) ...
Setting up libgeos-dev (3.5.0-1ubuntu2) ...
Processing triggers for libc-bin (2.23-0ubuntu7) ...
Collecting shapely
  Using cached Shapely-1.5.17.tar.gz
Installing collected packages: shapely
  Running setup.py install for shapely: started
    Running setup.py install for shapely: finished with status 'done'
Successfully installed shapely-1.5.17

debconf: delaying package configuration, since apt-utils is not installed

In [30]:
### テスト
from shapely import geos, wkb, wkt

# Show EWKB
p = wkt.loads('POINT Z(1 2 3)')
print(p.wkb_hex)  # This is little endian EWKB with just PointZ bit set

0101000080000000000000F03F00000000000000400000000000000840

## geojsonのインストール

* GeoJSONを扱うためのライブラリ

In [1]:
%%bash
pip install geojson

Collecting geojson
  Downloading geojson-1.3.5-py2.py3-none-any.whl
Installing collected packages: geojson
Successfully installed geojson-1.3.5

In [2]:
### テスト
from geojson import Point
Point((-115.81, 37.24))

{"coordinates": [-115.81, 37.24], "type": "Point"}

In [3]:
from geojson import MultiPoint
MultiPoint([(-155.52, 19.61), (-156.22, 20.74), (-157.97, 21.46)])

{"coordinates": [[-155.52, 19.61], [-156.22, 20.74], [-157.97, 21.46]], "type": "MultiPoint"}

## Pillowのインストール

* Pillow
    * Python の画像処理ライブラリ
    * PIL(Python2.7まで)のforkプロジェクト
        * 3系対応
    * 参考
        * [Python 3.5 対応画像処理ライブラリ Pillow (PIL) の使い方](https://librabuch.jp/blog/2013/05/python_pillow_pil/)

In [2]:
%%bash
pip install pillow

Collecting pillow
  Downloading Pillow-4.2.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
Collecting olefile (from pillow)
  Downloading olefile-0.44.zip (74kB)
Installing collected packages: olefile, pillow
  Running setup.py install for olefile: started
    Running setup.py install for olefile: finished with status 'done'
Successfully installed olefile-0.44 pillow-4.2.1

In [1]:
import os

### カレントディレクトリの確認
os.getcwd()

'/root/python/jupyter_notebook/Python'

In [2]:
### テスト(テキストを画像で出力)
from PIL import Image, ImageDraw, ImageFont

# 画像オブジェクトを作成。サイズと背景色を指定する。背景色はRBGの各々をtupleにして与える。
text_canvas = Image.new('RGB', (80, 40), (255, 255, 255))
draw = ImageDraw.Draw(text_canvas)

# フォントの種類とサイズを指定
#font = ImageFont.truetype('/Library/Fonts/ipag.ttf', 15)
font = ImageFont.truetype('/root/.fonts/ipag.ttf', 15)

# テキストを書き込み。引数は順に、書き込み座標（tuple）、テキスト、テキストのフォント、テキストのカラー
draw.text((10, 10), 'hogehoge', font=font, fill='#000')

# 保存
text_canvas.save('img/text_img.jpg', 'JPEG', quality=100, optimize=True)

テスト画像の表示

<img src="img/text_img.jpg" alt="テスト画像の表示" title="テスト画像の表示" align="left" />  

<br clear="left">