## PostgreSQL連携

In [47]:
# http://qiita.com/hik0107/items/de5785f680096df93efa
# グラフ化に必要なものの準備
import matplotlib
import matplotlib.pyplot as plt

# Jupyter上に図を表示するためのおまじない
%matplotlib inline

# データの扱いに必要なライブラリ
import pandas as pd
import numpy as np
import datetime as dt

# チャートがきれいになるおまじない
plt.style.use('ggplot') 

# PostgreSQLを扱うためのライブラリ
import pandas.io.sql as psql
import psycopg2 as pg

# 環境変数を使うためのライブラリ
import os

# yamlを扱うためのライブラリ
import yaml

In [50]:
### pandasとPostgreSQL連携テスト
with pg.connect(database='jsd_development',
                user='jsd',
                password='pass',
                host='10.136.3.189',
                port=5432) as conn:
  sql = 'SELECT * FROM people'
  df = psql.read_sql(sql, conn)
df

   id    name  age address
0   1    Taro   21   Tokyo
1   2    Taro   21   Tokyo
2   3    Jiro   20   Osaka
3   4  Saburo   19  Nagoya

In [49]:
### database.ymlの中身確認
yml_path = "{0}/{1}".format(os.environ.get("HOME"), "database.yml")
print(yml_path)

f = open(yml_path, "r")
for line in f:
    print(line, end="")
print("\n")

/root/database.yml
development:
  database: jsd_development
  username: jsd
  password: pass
  port: 5432
  host: 10.136.3.189

In [51]:
### ymlの内容を読み込んでpandas連携
yml_path = "{0}/{1}".format(os.environ.get("HOME"), "database.yml")
f = open(yml_path, "r")
data = yaml.load(f)

pd.DataFrame.from_dict(data)

              development
database  jsd_development
host         10.136.3.189
password             pass
port                 5432
username              jsd

In [56]:
### ymlの内容を使ってPostgresに接続
pg_database=data['development']['database']
pg_user=data['development']['username']
pg_password=data['development']['password']
pg_host=data['development']['host']
pg_port=data['development']['port']

### pandasとPostgreSQL連携テスト
with pg.connect(database=pg_database,
                user=pg_user,
                password=pg_password,
                host=pg_host,
                port=pg_port) as conn:
  sql = 'SELECT * FROM people'
  df = psql.read_sql(sql, conn)
df

   id    name  age address
0   1    Taro   21   Tokyo
1   2    Taro   21   Tokyo
2   3    Jiro   20   Osaka
3   4  Saburo   19  Nagoya