# docker-compose

## コンテナ設定リスト

|コンテナ|サービス|VIP|port|
|---|---|---|---|
|mysql5.6|mysql|172.17.33.11|3306|
|mysql5.6|ssh|172.17.33.11|2222|
|openldap|ldap|172.17.33.12|389|
|openldap|ssh|172.17.33.12|2223|
|mail_server|imap|172.17.33.13|1143|
|mail_server|smtp|172.17.33.13|2525|
|mail_server|ssh|172.17.33.13|2224|
|mail_server_virtual_for joruri|imap|172.17.33.14|1144|
|mail_server_virtual_for joruri|smtp|172.17.33.14|2526|
|mail_server_virtual_for joruri|ssh|172.17.33.14|2224|

## 現在のステータス

### イメージリスト

In [6]:
import pandas as pd
import subprocess
import sys

### コマンドの実行結果を取得する
res = subprocess.run(["docker", "images"], stdout=subprocess.PIPE)

### バイト列を文字列にする
a = res.stdout.decode('utf-8')
#print(a)

### 改行を区切りに要素に入れる
b = a.split("\n")
#print(b)

### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
c = []
for i in range(len(b)):
    item = b[i]
    if i != 0:
        c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
#print(c)
        
### 列名をリストcolに入れる
col = list(filter(lambda x: x != '', b[0].split("  ")))

### データをデータフレームに入れて出力する
del c[0]
df = pd.DataFrame(c, columns=col)
df

,REPOSITORY,TAG,IMAGE ID,CREATED,SIZE
0,ftakao2007/mysql5.6_centos7,latest,09a773ad8e34,6 days ago,2.16GB
1,ftakao2007/openldap_centos7,latest,572b38993fa4,4 days ago,596MB
2,ftakao2007/mail_centos7,latest,0733ee002c86,2 days ago,656MB
3,ftakao2007/mail_centos7,virtual_for_jorurimail,35e0eebeeb79,2 days ago,657MB

### コンテナリスト

In [25]:
import pandas as pd
import subprocess
import sys

### コマンドの実行結果を取得する
res = subprocess.run(['docker', 'ps', '-a'], stdout=subprocess.PIPE)

### バイト列を文字列にする
a = res.stdout.decode('utf-8')
#print(a)

### 改行を区切りに要素に入れる
b = a.split("\n")
#print(b)

### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
c = []
for i in range(len(b)):
    item = b[i]
    if i != 0:
        c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
#print(c)
        
### 列名をリストcolに入れる
col = list(filter(lambda x: x != '', b[0].split("  ")))

### データをデータフレームに入れて出力する
del c[0]
df = pd.DataFrame(c, columns=col)
df

### COMMAND,CREATED,STATUS列を削除する
del_command = []
for i in c:
    i_tmp = list(i)
    del i_tmp[2:5]
    del_command.append(tuple(i_tmp))
del col[2:5]
df = pd.DataFrame(del_command, columns=col)
df

,CONTAINER ID,IMAGE,PORTS,NAMES
0,c91b49b1012f,ftakao2007/mysql5.6_centos7:latest,"0.0.0.0:3306->3306/tcp, 0.0.0.0:2222->22/tcp",mysql5.6_centos7
1,49914008c382,ftakao2007/openldap_centos7:latest,"0.0.0.0:389->389/tcp, 0.0.0.0:2223->22/tcp",openldap_centos7
2,d8eb45ab72c7,ftakao2007/mail_centos7:latest,"0.0.0.0:2224->22/tcp, 0.0.0.0:2525->25/tcp, 0...",mail_server_centos7
3,01faf6b40cba,ftakao2007/mail_centos7:virtual_for_jorurimail,"0.0.0.0:2225->22/tcp, 0.0.0.0:2526->25/tcp, 0...",mail_server_virtual_for_jorurimail_centos7

### コンテナリスト(複数ホスト指定可能, ユーザに必要な情報を表示、PORTSですべて表示)

In [30]:
import pandas as pd
import subprocess
import sys
pd.set_option("display.max_colwidth", 100)

### 全てのdockerhost
dockerhost_list = ['10.136.3.168','10.136.3.180']

result = []

for j in range(len(dockerhost_list)):
    ### コマンドの実行結果を取得する
    res = subprocess.run(['ssh',dockerhost_list[j],'docker', 'ps'], stdout=subprocess.PIPE)

    ### バイト列を文字列にする
    a = res.stdout.decode('utf-8')
    #print(a)

    ### 改行を区切りに要素に入れる
    b = a.split("\n")
    #print(b)

    ### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
    c = []
    for i in range(len(b)):
        item = b[i]
        if i != 0:
            c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))

    ### 列名の要素を削除
    del c[0]
    #print(c)

    ### 列名をリストcolに入れる
    col = list(filter(lambda x: x != '', b[0].split("  ")))

    ### CONTAINER ID, IMAGE, COMMAND,CREATED,STATUS列を削除し、DOCKERHOST列を追加する
    for i in c:
        i_tmp = list(i)
        del i_tmp[0:5]
        i_tmp.insert(0,dockerhost_list[j])
        i_tmp = list(map(lambda x: x.replace('0.0.0.0:','') , i_tmp))
        result.append(tuple(i_tmp))
    del col[0:5]
    col.insert(0,'DOCKER HOST')

### 表示
df = pd.DataFrame(result, columns=col)
df

,DOCKER HOST,PORTS,NAMES
0,10.136.3.168,"3306->3306/tcp, 2222->22/tcp",mysql5.6_centos7
1,10.136.3.168,"389->389/tcp, 2223->22/tcp",openldap_centos7
2,10.136.3.168,"2224->22/tcp, 2525->25/tcp, 1143->143/tcp",mail_server_centos7
3,10.136.3.168,"2225->22/tcp, 2526->25/tcp, 1144->143/tcp",mail_server_virtual_for_jorurimail_centos7
4,10.136.3.180,"3306/tcp, 2292->22/tcp, 8095->80/tcp",redmine2.6.10_centos7
5,10.136.3.180,"5902->5902/tcp, 2244->22/tcp",gui_ubuntu16.04
6,10.136.3.180,"3000->3000/tcp, 8888->8888/tcp, 2238->22/tcp",jupyter_iruby

In [34]:
%%bash
### mysql接続確認
mysql -ujoruri -p'pass' -h 10.136.3.168 -P 3306 -e "SELECT CURDATE();" 2> /dev/null

CURDATE()
2017-07-20

### MySQLに登録

In [75]:
import MySQLdb
import pandas.io.sql as mysql

db_name = "docker"
table_name = "containers"

### DB接続
con = MySQLdb.connect(host='10.136.3.168', port=3306, user='jupyter', passwd='pass', charset='utf8')
cursor = con.cursor()

### 存在していなければdocker DBを作成
sql = "CREATE DATABASE IF NOT EXISTS {0};".format(db_name)
cursor.execute(sql)

### テーブルの作成
sql = """
CREATE TABLE IF NOT EXISTS {0}.{1}
  (docker_host TEXT, ports TEXT, names TEXT);
""".format(db_name, table_name)
cursor.execute(sql)

### テーブルの情報を取得
sql = "show columns from {0}.{1};".format(db_name, table_name)
df = mysql.read_sql(sql, con) 

### 接続を抜ける
con.close()

### テーブルの確認
df

/usr/local/pyenv/versions/3.6.1/envs/jupyter/lib/python3.6/site-packages/ipykernel_launcher.py:13: Warning: (1007, "Can't create database 'docker'; database exists")
  del sys.path[0]

         Field  Type Null Key Default Extra
0  docker_host  text  YES        None
1        ports  text  YES        None
2        names  text  YES        None

In [100]:
import MySQLdb
import sqlalchemy as sa
import pandas.io.sql as mysql
import pandas as pd
import subprocess
import sys
pd.set_option("display.max_colwidth", 100)
dockerhost_list = ['10.136.3.168','10.136.3.180']
db_name = "docker"
table_name = "containers"
result = []

### dockerhostの情報をdf_dockerに取得
for j in range(len(dockerhost_list)):
    res = subprocess.run(['ssh',dockerhost_list[j],'docker', 'ps'], stdout=subprocess.PIPE)
    a = res.stdout.decode('utf-8')
    b = a.split("\n")
    c = []
    for i in range(len(b)):
        item = b[i]
        if i != 0:
            c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
    del c[0]
    col = list(filter(lambda x: x != '', b[0].split("  ")))
    for i in c:
        i_tmp = list(i)
        del i_tmp[0:5]
        i_tmp.insert(0,dockerhost_list[j])
        i_tmp = list(map(lambda x: x.replace('0.0.0.0:','') , i_tmp))
        result.append(tuple(i_tmp))
    del col[0:5]
    col.insert(0,'DOCKER HOST')
df_docker = pd.DataFrame(result, columns=col)
print(df_docker)

    DOCKER HOST                                          PORTS  \
0  10.136.3.168                   3306->3306/tcp, 2222->22/tcp
1  10.136.3.168                     389->389/tcp, 2223->22/tcp
2  10.136.3.168      2224->22/tcp, 2525->25/tcp, 1143->143/tcp
3  10.136.3.168      2225->22/tcp, 2526->25/tcp, 1144->143/tcp
4  10.136.3.180           3306/tcp, 2292->22/tcp, 8095->80/tcp
5  10.136.3.180                   5902->5902/tcp, 2244->22/tcp
6  10.136.3.180   3000->3000/tcp, 8888->8888/tcp, 2238->22/tcp

                                         NAMES
0                             mysql5.6_centos7
1                             openldap_centos7
2                          mail_server_centos7
3   mail_server_virtual_for_jorurimail_centos7
4                        redmine2.6.10_centos7
5                              gui_ubuntu16.04
6                                jupyter_iruby

## (以下作業領域)

In [141]:
import MySQLdb
#import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas.io.sql as mysql
import pandas as pd


# engine = create_engine("mysql+mysqldb://jupyter:pass@10.136.3.168/test_db?charset=utf8")
# rows = engine.execute('SELECT * FROM zoo')
# for row in rows:
#    print(row)


# engine = create_engine("mysql+mysqldb://jupyter:pass@10.136.3.168/test_db?charset=utf8")
# connection = engine.connect()
# data = pd.read_sql_table('zoo', connection)

# result = connection.execute("select username from users")
# for row in result:
#     print("username:", row['username'])
# connection.close()
#with engine.connect() as conn, conn.begin():
#    data = pd.read_sql_table('data', conn)
#data = mysql.read_sql_table('test_db', con)


### OK
# engine = create_engine("mysql+mysqldb://jupyter:pass@10.136.3.168/test_db?charset=utf8")
# con = engine.connect()
# result = con.execute("select * from zoo")
# for row in result:
#     print("critter", row['critter'])
# con.close()



# engine = create_engine("mysql+mysqldb://jupyter:pass@10.136.3.168/test_db?charset=utf8")
# con = engine.connect()
# df = pd.DataFrame([('うし',5,1500)], columns=['critter', 'count', 'damages'])
# df.to_sql('zoo', con, if_exists='replace')
#df.to_sql('zoo', con, if_exists='replace', chunksize=1000, dtype={'critter': sqlalchemy.types.String, 'count': Int, 'count': Int})




### OK
con = MySQLdb.connect(database='test_db', host='10.136.3.168', user='jupyter', passwd='pass', charset='utf8')
sql = "SELECT * FROM zoo"
df = mysql.read_sql(sql, con) 
df




#rows = engine.execute('SELECT * FROM zoo')

#df = pd.DataFrame([('うし',5,1500)], columns=['critter', 'count', 'damages'])
#df

#df.to_sql('zoo', engine)

DatabaseError: Execution failed on sql 'SELECT * FROM zoo': (1146, "Table 'test_db.zoo' doesn't exist")

In [98]:
import MySQLdb
import sqlalchemy as sa
import pandas.io.sql as mysql
import pandas as pd
import subprocess
import sys
pd.set_option("display.max_colwidth", 100)
dockerhost_list = ['10.136.3.168','10.136.3.180']
db_name = "docker"
table_name = "containers"
result = []

### dockerhostの情報をdf_dockerに取得
for j in range(len(dockerhost_list)):
    res = subprocess.run(['ssh',dockerhost_list[j],'docker', 'ps'], stdout=subprocess.PIPE)
    a = res.stdout.decode('utf-8')
    b = a.split("\n")
    c = []
    for i in range(len(b)):
        item = b[i]
        if i != 0:
            c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
    del c[0]
    col = list(filter(lambda x: x != '', b[0].split("  ")))
    for i in c:
        i_tmp = list(i)
        del i_tmp[0:5]
        i_tmp.insert(0,dockerhost_list[j])
        i_tmp = list(map(lambda x: x.replace('0.0.0.0:','') , i_tmp))
        result.append(tuple(i_tmp))
    del col[0:5]
    col.insert(0,'DOCKER HOST')
df_docker = pd.DataFrame(result, columns=col)
#df_docker


# ### DB接続
# con = MySQLdb.connect(database=db_name, host='10.136.3.168', port=3306, user='jupyter', passwd='pass', charset='utf8')

# ### データフレームを元にテーブルを作成(テーブルがあれば再作成)
# df_docker.to_sql(table_name, engine.raw_connection(), flavor='mysql', if_exists='append')
# #df_docker.to_sql(name=table_name, con=con, flavor='mysql', if_exists='replace')

# #mysql.write_frame(df_docker, con=con, name=table_name, if_exists='replace', flavor='mysql')

# ### 接続を抜ける
# con.close()


#engine = create_engine("mysql+mysqldb://USER:"+'PASSWORD'+"@localhost/DATABASE")
#df.to_sql(con=engine, if_exists='append', index=False)

#url = 'mysql+mysqldb://jupyter:pass@10.136.3.168/{0}?charset=utf8'.format(db_name)
#url = 'mysql+mysqldb://jupyter:pass@10.136.3.168/{0}?charset=utf8'.format(db_name)
url = 'mysql+mysqldb://jupyter:pass@10.136.3.168/{0}?charset=utf8'.format(db_name)
#engine = sa.create_engine(url, echo=True)
engine = sa.create_engine(url)
df_docker.to_sql(table_name, engine, if_exists='append', index=False)
#df_docker.to_sql(table_name, engine, flavor='mysql', if_exists='replace', index=False)
#df_docker.to_sql(table_name, con=engine, if_exists='replace')
#df_docker.to_sql(table_name, engine, if_exists='replace')

# engine.execute('DROP TABLE zoo')
# engine.execute('CREATE TABLE zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)')
# #engine.execute('CREATE TABLE IF NOT EXISTS zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)')

# # SQL文に「?」が使用できないので、代わりに「%s」を使用
# ins = "INSERT INTO zoo (critter, count, damages) VALUES (%s, %s, %s)"
# engine.execute(ins, "あひる", 10, 0.0)
# engine.execute(ins, "くま", 2, 1000.0)
# engine.execute(ins, "いたち", 1, 2000.0)

# rows = engine.execute('SELECT * FROM zoo')

# for row in rows:
#     print(row)

/usr/local/pyenv/versions/3.6.1/envs/jupyter/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

AttributeError: 'Engine' object has no attribute 'cursor'

In [24]:
import subprocess
args = ['docker', 'ps', '-a']
try:
    res = subprocess.check_output(args)
    print(res)
except:
    print("Error.")

b'CONTAINER ID        IMAGE                                            COMMAND                  CREATED             STATUS              PORTS                                                               NAMES\n01faf6b40cba        ftakao2007/mail_centos7:virtual_for_jorurimail   "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:2225->22/tcp, 0.0.0.0:2526->25/tcp, 0.0.0.0:1144->143/tcp   mail_server_virtual_for_jorurimail_centos7\nd8eb45ab72c7        ftakao2007/mail_centos7:latest                   "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:2224->22/tcp, 0.0.0.0:2525->25/tcp, 0.0.0.0:1143->143/tcp   mail_server_centos7\n49914008c382        ftakao2007/openldap_centos7:latest               "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:389->389/tcp, 0.0.0.0:2223->22/tcp                          openldap_centos7\nc91b49b1012f        ftakao2007/mysql5.6_centos7:latest               "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:3306->3306/tcp, 0.0.0.0:2222->22/tcp                        mysql5.6_centos7\n'

In [14]:
%%bash
docker images

REPOSITORY                    TAG                      IMAGE ID            CREATED             SIZE
ftakao2007/mail_centos7       virtual_for_jorurimail   35e0eebeeb79        18 hours ago        657MB
ftakao2007/mail_centos7       latest                   0733ee002c86        19 hours ago        656MB
ftakao2007/openldap_centos7   latest                   572b38993fa4        2 days ago          596MB
ftakao2007/mysql5.6_centos7   latest                   09a773ad8e34        4 days ago          2.16GB
ftakao2007/centos7            latest                   0fede72fa1fe        4 days ago          488MB

In [15]:
%%bash
docker ps -a

CONTAINER ID        IMAGE                                            COMMAND                  CREATED             STATUS              PORTS                                                               NAMES
d466248a93d9        ftakao2007/mail_centos7:virtual_for_jorurimail   "sh -c 'exec /usr/..."   6 minutes ago       Up 6 minutes        0.0.0.0:2225->22/tcp, 0.0.0.0:2526->25/tcp, 0.0.0.0:1144->143/tcp   mail_server_virtual_for_jorurimail_centos7
8784dfcb21c3        ftakao2007/mail_centos7:latest                   "sh -c 'exec /usr/..."   22 minutes ago      Up 22 minutes       0.0.0.0:2224->22/tcp, 0.0.0.0:2525->25/tcp, 0.0.0.0:1143->143/tcp   mail_server_centos7
3bc5d977b203        ftakao2007/openldap_centos7:latest               "sh -c 'exec /usr/..."   26 minutes ago      Up 26 minutes       0.0.0.0:389->389/tcp, 0.0.0.0:2223->22/tcp                          openldap_centos7
4c0ae849ad6a        ftakao2007/mysql5.6_centos7:latest               "sh -c 'exec /usr/..."   29 minutes ago      Up 29 minutes       0.0.0.0:3306->3306/tcp, 0.0.0.0:2222->22/tcp                        mysql5.6_centos7

In [ ]:
import pandas as pd
import subprocess
import sys

### コマンドの実行結果を取得する
res = subprocess.run(["docker", "images"], stdout=subprocess.PIPE)

### バイト列を文字列にする
a = res.stdout.decode('utf-8')
#print(a)

### 改行を区切りに要素に入れる
b = a.split("\n")
#print(b)

### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
c = []
for i in range(len(b)):
    item = b[i]
    if i != 0:
        c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
#print(c)

pd_index = []
for i in c[1:]:
    pd_index.append(i[2])
print(pd_index)
        
### 列名をリストcolに入れる
col = list(filter(lambda x: x != '', b[0].split("  ")))

### データをデータフレームに入れて出力する
df = pd.DataFrame(c[1:], columns=col, index=pd_index)
df