# docker-compose

## コンテナ設定リスト

|コンテナ|サービス|VIP|port|
|---|---|---|---|
|mysql5.6|mysql|172.17.33.11|3306|
|mysql5.6|ssh|172.17.33.11|2222|
|openldap|ldap|172.17.33.12|389|
|openldap|ssh|172.17.33.12|2223|
|mail_server|imap|172.17.33.13|1143|
|mail_server|smtp|172.17.33.13|2525|
|mail_server|ssh|172.17.33.13|2224|
|mail_server_virtual_for joruri|imap|172.17.33.14|1144|
|mail_server_virtual_for joruri|smtp|172.17.33.14|2526|
|mail_server_virtual_for joruri|ssh|172.17.33.14|2224|

## 現在のステータス

### イメージリスト

In [6]:
import pandas as pd
import subprocess
import sys

### コマンドの実行結果を取得する
res = subprocess.run(["docker", "images"], stdout=subprocess.PIPE)

### バイト列を文字列にする
a = res.stdout.decode('utf-8')
#print(a)

### 改行を区切りに要素に入れる
b = a.split("\n")
#print(b)

### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
c = []
for i in range(len(b)):
    item = b[i]
    if i != 0:
        c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
#print(c)
        
### 列名をリストcolに入れる
col = list(filter(lambda x: x != '', b[0].split("  ")))

### データをデータフレームに入れて出力する
del c[0]
df = pd.DataFrame(c, columns=col)
df

,REPOSITORY,TAG,IMAGE ID,CREATED,SIZE
0,ftakao2007/mysql5.6_centos7,latest,09a773ad8e34,6 days ago,2.16GB
1,ftakao2007/openldap_centos7,latest,572b38993fa4,4 days ago,596MB
2,ftakao2007/mail_centos7,latest,0733ee002c86,2 days ago,656MB
3,ftakao2007/mail_centos7,virtual_for_jorurimail,35e0eebeeb79,2 days ago,657MB

In [23]:
import pandas as pd
import subprocess
import sys

### コマンドの実行結果を取得する
res = subprocess.run(['docker', 'ps', '-a'], stdout=subprocess.PIPE)

### バイト列を文字列にする
a = res.stdout.decode('utf-8')
#print(a)

### 改行を区切りに要素に入れる
b = a.split("\n")
#print(b)

### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
c = []
for i in range(len(b)):
    item = b[i]
    if i != 0:
        c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
#print(c)
        
### 列名をリストcolに入れる
col = list(filter(lambda x: x != '', b[0].split("  ")))

### データをデータフレームに入れて出力する
del c[0]
df = pd.DataFrame(c, columns=col)
df



### COMMAND,CREATED,STATUS列を削除する
del_command = []
for i in c:
    i_tmp = list(i)
    del i_tmp[2:5]
    del_command.append(tuple(i_tmp))
del col[2:5]
df = pd.DataFrame(del_command, columns=col)
df

,CONTAINER ID,IMAGE,PORTS,NAMES
0,c91b49b1012f,ftakao2007/mysql5.6_centos7:latest,"0.0.0.0:3306->3306/tcp, 0.0.0.0:2222->22/tcp",mysql5.6_centos7
1,49914008c382,ftakao2007/openldap_centos7:latest,"0.0.0.0:389->389/tcp, 0.0.0.0:2223->22/tcp",openldap_centos7
2,d8eb45ab72c7,ftakao2007/mail_centos7:latest,"0.0.0.0:2224->22/tcp, 0.0.0.0:2525->25/tcp, 0...",mail_server_centos7
3,01faf6b40cba,ftakao2007/mail_centos7:virtual_for_jorurimail,"0.0.0.0:2225->22/tcp, 0.0.0.0:2526->25/tcp, 0...",mail_server_virtual_for_jorurimail_centos7

In [24]:
import subprocess
args = ['docker', 'ps', '-a']
try:
    res = subprocess.check_output(args)
    print(res)
except:
    print("Error.")

b'CONTAINER ID        IMAGE                                            COMMAND                  CREATED             STATUS              PORTS                                                               NAMES\n01faf6b40cba        ftakao2007/mail_centos7:virtual_for_jorurimail   "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:2225->22/tcp, 0.0.0.0:2526->25/tcp, 0.0.0.0:1144->143/tcp   mail_server_virtual_for_jorurimail_centos7\nd8eb45ab72c7        ftakao2007/mail_centos7:latest                   "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:2224->22/tcp, 0.0.0.0:2525->25/tcp, 0.0.0.0:1143->143/tcp   mail_server_centos7\n49914008c382        ftakao2007/openldap_centos7:latest               "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:389->389/tcp, 0.0.0.0:2223->22/tcp                          openldap_centos7\nc91b49b1012f        ftakao2007/mysql5.6_centos7:latest               "sh -c \'exec /usr/..."   2 days ago          Up 2 days           0.0.0.0:3306->3306/tcp, 0.0.0.0:2222->22/tcp                        mysql5.6_centos7\n'

In [14]:
%%bash
docker images

REPOSITORY                    TAG                      IMAGE ID            CREATED             SIZE
ftakao2007/mail_centos7       virtual_for_jorurimail   35e0eebeeb79        18 hours ago        657MB
ftakao2007/mail_centos7       latest                   0733ee002c86        19 hours ago        656MB
ftakao2007/openldap_centos7   latest                   572b38993fa4        2 days ago          596MB
ftakao2007/mysql5.6_centos7   latest                   09a773ad8e34        4 days ago          2.16GB
ftakao2007/centos7            latest                   0fede72fa1fe        4 days ago          488MB

### コンテナリスト

In [15]:
%%bash
docker ps -a

CONTAINER ID        IMAGE                                            COMMAND                  CREATED             STATUS              PORTS                                                               NAMES
d466248a93d9        ftakao2007/mail_centos7:virtual_for_jorurimail   "sh -c 'exec /usr/..."   6 minutes ago       Up 6 minutes        0.0.0.0:2225->22/tcp, 0.0.0.0:2526->25/tcp, 0.0.0.0:1144->143/tcp   mail_server_virtual_for_jorurimail_centos7
8784dfcb21c3        ftakao2007/mail_centos7:latest                   "sh -c 'exec /usr/..."   22 minutes ago      Up 22 minutes       0.0.0.0:2224->22/tcp, 0.0.0.0:2525->25/tcp, 0.0.0.0:1143->143/tcp   mail_server_centos7
3bc5d977b203        ftakao2007/openldap_centos7:latest               "sh -c 'exec /usr/..."   26 minutes ago      Up 26 minutes       0.0.0.0:389->389/tcp, 0.0.0.0:2223->22/tcp                          openldap_centos7
4c0ae849ad6a        ftakao2007/mysql5.6_centos7:latest               "sh -c 'exec /usr/..."   29 minutes ago      Up 29 minutes       0.0.0.0:3306->3306/tcp, 0.0.0.0:2222->22/tcp                        mysql5.6_centos7

### 以下テスト中

In [ ]:
import pandas as pd
import subprocess
import sys

### コマンドの実行結果を取得する
res = subprocess.run(["docker", "images"], stdout=subprocess.PIPE)

### バイト列を文字列にする
a = res.stdout.decode('utf-8')
#print(a)

### 改行を区切りに要素に入れる
b = a.split("\n")
#print(b)

### それぞれの要素で半角空白2文字を区切り文字にし、空の要素は除く
c = []
for i in range(len(b)):
    item = b[i]
    if i != 0:
        c.insert(0,tuple(filter(lambda x: x != '', item.split("  "))))
#print(c)

pd_index = []
for i in c[1:]:
    pd_index.append(i[2])
print(pd_index)
        
### 列名をリストcolに入れる
col = list(filter(lambda x: x != '', b[0].split("  ")))

### データをデータフレームに入れて出力する
df = pd.DataFrame(c[1:], columns=col, index=pd_index)
df